.selectDetail .header {
    width: 100%;
    padding: 2px 24px;
    border-bottom: 1px solid #ededed;
    overflow: hidden;
    background: #fff;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.selectDetail .header .leftHead {
    display: flex;
    align-items: center;
}
.selectDetail .header .back {
    font-size: 22px;
    color: #999;
}
.selectDetail .header .title {
    font-size: 20px;
    color: #000;
    padding: 8px;
    line-height: 38px;
}
.selectDetail .header .status {
    border: 1px solid #00a5b7;
    line-height: 22px;
    border-radius: 11px;
    text-align: center;
    color: #00a5b7;
    font-size: 12px;
    width: 72px;
    display: inline-block;
    margin-right: 10px;
}
.selectDetail .header .checkInstruction {
    color: #4d7fff;
    cursor: pointer;
}
.selectDetail .header .timeMention {
    display: flex;
    align-items: center;
}
.selectDetail .header .timeMention .timeAndremain {
    border-radius: 8px;
    padding: 0 10px;
    border: 1px solid #fff;
    color: #fff;
    background: #fff;
    line-height: unset;
    display: inline-block;
}
.selectDetail .header .timeMention .timeAndremain .time {
    display: block;
}
.selectDetail .header .timeMention .remain {
    font-size: 12px;
    display: inline-block;
    margin-right: 24px;
}
.selectDetail .placeholder {
    height: 58px;
    position: relative;
}
.selectDetail .detailContent {
    display: flex;
}
.selectDetail .detailContent .scrollCourse {
    overflow: scroll;
}
.selectDetail .detailContent .scrollCourse::-webkit-scrollbar {
    display: none;
}
.selectDetail .detailContent .scrollCourse .tryLoad {
    text-align: center;
    width: 60.5%;
    margin-top: 16px;
}
.selectDetail .detailContent .scrollCourse .noMore {
    display: block;
    width: 60.5%;
    font-size: 14px;
    color: #969fa9;
    text-align: center;
    margin-top: 16px;
}
.selectDetail .detailContent .detailContentLeft {
    margin: 13px 24px 0;
    width: 60.5%;
}
.selectDetail .detailContent .detailContentLeft .queryCourse {
    background: #fefefe;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.03);
    border-radius: 16px;
    margin-bottom: 12px;
    padding: 12px 24px;
}
.selectDetail .detailContent .detailContentLeft .queryCourse .keySearch {
    font-size: 16px;
    padding-bottom: 4px;
    border-bottom: 1px solid #ededed;
}
.selectDetail .detailContent .detailContentLeft .queryCourse .keySearch .searchIcon {
    font-size: 20px;
    color: #666;
    cursor: pointer;
}
.selectDetail .detailContent .detailContentLeft .queryCourse .keySearch :global .ant-input {
    border: none;
    box-shadow: none;
}
.selectDetail .detailContent .detailContentLeft .queryCourse .formItem {
    display: flex;
    margin-top: 16px;
    align-items: center;
}
.selectDetail .detailContent .detailContentLeft .queryCourse .formItem .label {
    color: #666;
    font-size: 16px;
}
.selectDetail .detailContent .detailContentLeft .queryCourse .formItem .content {
    color: #a3a3a3;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    padding: 0 12px;
    border: 1px solid #e6e6e6;
    border-radius: 16px;
    margin: 3px 6px;
    cursor: pointer;
}
.selectDetail .detailContent .detailContentLeft .queryCourse .formItem .timeList,
.selectDetail .detailContent .detailContentLeft .queryCourse .formItem .classification {
    flex: 1;
}
.selectDetail .detailContent .detailContentLeft .queryCourse .formItem .expend {
    width: 5%;
    font-size: 20px;
    cursor: pointer;
}
.selectDetail .detailContent .detailContentRight {
    width: 36%;
    background: #fff;
    position: fixed;
    right: 0;
    flex: 1;
    height: calc(100% - 58px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
